.BaseComponent{
    margin: auto;
    /* padding-top: 1%; */
    /* padding-bottom: 1%; */
    width: 400px;
    background: #3a97fb; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #949be9,
      #556270
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #44e9de,
      #ece7dc
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }